<div>
    <p><%= messageTitle %></p>
    <p><%= message %></p>
    <%if (currentUser.is_member == true) {%>
    <p><%= author %></p>
    <p><%= date %></p>
    <%};%>

    <%if (currentUser.is_admin == true) {%>
        <button type="button">Delete</button>
    <%};%>
</div>