<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include("../partials/header")%>
    <form action="/" method="post">
        <p>Create a Post</p>
        <div>
            <input name="messageTitle" type="text" placeholder="Title">
        </div>
        <div>
            <textarea name="message"  placeholder="Say something..."></textarea>
        </div>
        <button>Post</button>
    </form>

    <div>
        <% posts.forEach(post => {%>
            <%-include("../partials/messageCard", {messageTitle: post.title , message: post.text, author: `${post.firstname} ${post.lastname}`, date: post.added, messageId: post.id}) %> 
            <% }); %>
    </div>
</body>

</html>