<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/">
        <p>Create a Post</p>
        <div>
            <input type="text" placeholder="Title">
        </div>
        <div>
            <textarea name="" id="" placeholder="Say something..."></textarea>
        </div>
        <button>Post</button>
    </form>
</body>

</html>